.footer{
  margin-top: 90px;
}

.footer__copyright{
  text-align: center;
  font-size: 14px;
  color: #888;
  padding: 20px 0;
  line-height: 16px;
}

@media screen and (max-width: 1024px) {
  .footer {
    margin-top: 90px;
  }

  @media screen and (max-width: 544px) {
    .footer {
      margin-top: 65px;
    }

    .footer__copyright {
      line-height: 1;
    }
  }
}